*#*#
*.beam
*.orig
*~
.*.swp
/.eunit
/env/riak-*/*
/lib/*
/lib/fred/test/app.config
!/lib/fred/
!/lib/fred_dev/
/rebar_plugins
/log/
/logs/
/rel/*
!/rel/files/
/rel/files/sys.config
!/rel/reltool.config
/test/log/
/test/logs/
/test/suites/log/
/translations/
all_runs.html
erl_crash.dump
index.html
rt.work
test/app.config
variables-fred@127.0.0.1
/env/priv/riak_idm_deps/
RPMS/
